*{
    padding: 0px;
    margin: 0px;
}
:root{
    --red: #96151d;
}
.toplinks{
    display: flex;
    gap: 1.2rem;
    font-size: .65rem;
    margin-left:400px ;
    margin-top: 10px;
}
.vgcontainer{
    margin: 0px auto;
    width: 1000px;
}
.a{
    color: black;
    text-decoration: none;
}
.a:hover{
    text-decoration: underline;
}
.vanguard{
    display: inline;
    color: var(--red);
}
.textbox{
    border-bottom: 1px solid grey;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 700px ;
    outline:none;
    margin-top: -40px;
}
.nav{
    background-color: var(--red);
    margin-top: 10px;
    height: 50px;
    display: flex;
    margin-left: -8rem;
    justify-content: center;
}
.btn{
    background-color: var(--red);
    border: 0px;
    color: white;
    font-stretch: ultra-expanded;
    width: 0 auto;
    padding: 0 23px;
    font-size: 15px;
}
.btn:hover{
    background-color: #7c131a;
}
.main{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    text-align: center;
    height: 760px;
    margin-bottom: -105px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.maincontainer{
    margin: 0px auto;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login{
    font-size: 3rem;
    padding-left: 7rem;
}
.userdiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin: 0px auto;
    margin-top: 40px;
    
}
.username{
    margin-bottom: 6px;
}
.userinput{
   height: 46px;
   width: 100%;
}
.forgotuser{
    color: #0274c9;
    text-decoration: none;
    margin-top: 10px;
}
.forgotuser:hover{
    text-decoration: underline;
}
.passdiv{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin: 0px auto;
    margin-top: 40px;
}
.password{
    margin-bottom: 6px;
}
.passinput{
    height: 46px;
    width: 100%;
 }
.forgotpass{
    color: #0274c9;
    text-decoration: none;
    margin-top: 10px;
}
.forgotpass:hover{
    text-decoration: underline;
}
.login{
    margin-right: auto;
    padding: 0px;
}
.loginbtn{
    background-color: var(--red);
    color: white;
    border: 0px;
    margin-top: 30px;
    width: 11rem;
    height: 46px;
    border-radius: 50px;
    margin-bottom: 27px ;
    margin-right:auto ;
}
.line{
    height: 1px;
    width: 19.5rem;
    background-color: grey;
    margin-right:  auto;
    
    margin-top: 15px;
    margin-bottom: 7px;
}
.newvanguard{
    font-size: 1.8rem;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: auto;
}
.openbtn{
    width: 10rem;
    height: 38px;
    border-radius: 50px;
    color: black;
    background-color: white;
    margin-right: auto;
}
.line2{
    height: 1px;
    width: 920px;
    background-color: grey;
    margin: 0px auto;
    margin-top: 75px;
}
.wafflediv{
    
}
.waffle{
    margin: 20px auto;
    width: 920px;
    text-align: left;
}
.nav2{
    color: white;
    background-color: grey;
    height: 28px;
    padding-top: 12px;
    margin-top: 60px;
}
.nav2div{
    margin: 0px auto;
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.nav2btn{
    color: white;
    text-decoration: none;
}
.nav2btn:hover{
    text-decoration: underline;
}

.a1{
    color: black;
    text-decoration: none;
    margin-bottom: 3.5px;
}
.a1:hover{
    text-decoration: underline;
}
.column1{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.column2{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.column3{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.column4{
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.columndiv{
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.line3{
    height: 1px;
    width: 950px;
    background-color: grey;
    margin: 30px auto;
}
.vanguard2div{
    margin: 10px auto;
    width:950px;
}
.vanguard2{
    color: var(--red);
    
}
.waffle2{
    margin: 10px auto;
    width: 950px;
}
.bottomdiv{
    margin: 10px auto;
    width: 950px;
}
.waffle3{
    display: inline;
}
.a2{
    color:black;
}
.hrline{
    height: 17px;
    width: 1px;
    background-color: black;
    display: inline-block;
    margin-left: .2rem;
    margin-right: .2rem;
    position: relative;
    top: 4px;
}
.footer{
    background-color: #e5e5e5;
    padding-top: 20px;
    padding-bottom: 10px;
}
.ahead{
    font-weight: 700;
}
.ahead:hover{
    text-decoration: none;
}
.feedbackbtn{
    height: 37px;
    width: 95px;
    background-color: rgb(88, 88, 88);
    color: white;
    border: 0px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    cursor: pointer;
}
.arrowdown{
    margin-left: .4rem;
}
.popup{
    width: 560px;
    height: 800px;
    background-color: #e5e5e5;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.poptop{
    background-color: black;
    height: 40px;
}
.deletebtn{
    background-color: red;
    height: 40px;
    width: 40px;
    float: right;
    cursor: pointer;
    font-weight: bolder;
    font-size: 25px;
}
.p{
    margin: 40px 40px;
}
.menubtn{
    display: none;
}
.searchicon{
    display: none; 
}
.toplinks2{
    display: none;
}
@media (max-width: 1000px){
    .line3{
        width: 100%;
    }
    .vanguard2div{
        width: 90%;
        margin: 0px auto;
    }
    .vanguard2{
        color: var(--red); 
    }
    .nav2{
        display: none;
    }
    .columndiv{
        display: none;
    }
    .wafflediv{
        background-color:#e5e5e5 ;
    }
    .waffle{
        width: 90%;
        background-color:#e5e5e5 ;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 20px;
    }
    .waffle2{
        width: 90%;
    }
    .bottomdiv{
        width:90%;
    }
    .btn{
        display: none;
    }
    .menubtn{
        display: inline;
        background-color: var(--red);
        color: white;
        border: 0px;
        font-size: 16px;
        
    }
    .menup{
        display: inline;
        padding-bottom: 20px;
    }
    .menuicon{
        height: 30px;
        width: 30px;
    }
    .searchicon{
        height: 30px;
        width: 30px;
        color: white;
        display: inline;
    }
    .nav{
        display: flex;
        gap: 500px;
    }
    .textbox{
        display: none;
    }
    .toplinks{
        display: none;
    }
    .toplinks2{
        display: inline;
        display: flex;
        gap: 1.2rem;
        font-size: .8rem;
    }
    .vgcontainer{
        display: flex;
        align-items: center;
        gap: 50%;
        
        margin: 10px auto;
        width: 88%;
    }
    .line2{
        display: none;
    }

}
@media (max-width:830px){
    .aa{
        display: none;
    }
    .alogin{
        

    }
    .vgcontainer{
        gap: 70%;
    }
}